@use "../../styles/_partials/_utilities/resets" as *;
@use "../../styles/_partials/_utilities/typography" as *;
@use "../../styles/_partials/_utilities/mixins" as *;
@use "../../styles/_partials/_utilities/variables" as *;

.nodata {
  display: flex;
  justify-content: center;

  &__container {
    background-color: rgb(41, 50, 65, 0.5);
    padding: 2.4rem 1.6rem 6.6rem;
    border-radius: 1rem;
    border-bottom: 0.4rem solid $font-color-primary;
  }

  &__text {
    font-family: "montserrat-semibold";
    color: $border-color;
  }
}
