@use "../../styles/_partials/_utilities/resets" as *;
@use "../../styles/_partials/_utilities/typography" as *;
@use "../../styles/_partials/_utilities/mixins" as *;
@use "../../styles/_partials/_utilities/variables" as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba($background-color-secondary, 0.5);

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__delete {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 1rem;
    background-color: $background-color-primary;
    height: 40vh;
    width: 86vw;
    border-radius: 1rem;
  }

  &__image {
    display: flex;
    justify-content: flex-end;
  }

  &__body {
    padding: 1.6rem 0;
  }

  &__button {
    position: absolute;
    width: 94%;
    display: flex;
    justify-content: flex-end;
    bottom: 1.2rem;
  }

  &__button-cancel {
    all: unset;
    width: 10rem;
    text-align: center;
    border-radius: 2rem;
    transition: 0.5s;
    border-bottom: 4px solid $border-color;
    background-color: #ebebeb;
    padding: 1rem 1.6rem;
  }

  &__button-delete {
    all: unset;
    width: 10rem;
    border-radius: 2rem;
    text-align: center;
    padding: 1rem 1.6rem;
    transition: 0.5s;
    background-color: $support-color-tertiary;
    color: $font-color-secondary;
    border-bottom: 4px solid #94330f;
    margin-left: 1.6rem;
  }
}
