@mixin title-setup {
  font-family: "montserrat-semibold";
  font-size: 2.8rem;
  margin: 3.6rem 1.6rem 2.4rem 1.6rem;
  color: #ffffff;
}

@mixin page-setup {
  display: flex;
  flex-direction: column;
  align-content: center;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 1rem;
  background-color: rgb(10, 17, 40, 0.65);
  padding-bottom: 2.4rem;
}

@mixin button-animation {
  &:active {
    z-index: 100;
    animation: scaleup 0.2s linear;
    animation-fill-mode: forwards;
  }

  @keyframes scaledown {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

  @keyframes scaleup {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.4);
      transform: scale(1.4);
    }
    100% {
      -webkit-transform: scale(1.4);
      transform: scale(1.4);
    }
  }
}
