//COLORS
//FONT COLORS
$font-color-primary: #293241;
$font-color-secondary: #f5f5f7;

//BACKGROUND COLORS
$background-color-primary: #f8f9fa;
$background-color-secondary: #004e98;

//SUPPORTIVE COLORS
$button-color-main: #ff6700;
$button-color-second: #ebebeb;
$border-color: #c0c0c0;
$support-color-primary: #3a6ea5;
$support-color-secondary: #c94515;

//BORDER
$border-setup: 1px solid $border-color;

//PADDING
$padding-standard: 1.6rem;
