@use "../../styles/_partials/_utilities/resets" as *;
@use "../../styles/_partials/_utilities/typography" as *;
@use "../../styles/_partials/_utilities/mixins" as *;
@use "../../styles/_partials/_utilities/variables" as *;

.header {
  position: sticky;
  width: 100%;
  background-color: rgb(0, 31, 84, 0.98);
  top: 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-standard;
  }

  &__logo-bold {
    font-family: "montserrat-extrabold";
    font-style: italic;
    font-size: 2.4rem;
    color: $font-color-secondary;
  }
  &__logo-italic {
    font-family: "montserrat-light";
    font-size: 2.4rem;
    color: $font-color-secondary;
  }

  // &__avatar-icon {
  //   // display: flex;
  //   // width: 3.6rem;
  //   // height: 3.6rem;
  //   // border-radius: 50%;
  //   // background-image: url("../../assets/icons/person-icon.svg");
  //   // background-color: $border-color;
  //   // background-repeat: no-repeat;
  //   // background-position: center;
  // }

  &__avatar-image {
    display: flex;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__auth {
    display: flex;
    align-items: center;
  }

  &__login {
    display: flex;
    align-items: center;
  }

  &__text {
    all: unset;
    font-family: "montserrat-semibold";
    color: $font-color-secondary;
    margin-right: 1.6rem;
  }
}
