@use "../../styles/_partials/_utilities/resets" as *;
@use "../../styles/_partials/_utilities/typography" as *;
@use "../../styles/_partials/_utilities/mixins" as *;
@use "../../styles/_partials/_utilities/variables" as *;

.dca-page {
  margin: 2.4rem 1.6rem 10.6rem 1.6rem;

  &__container {
    @include page-setup;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
  }

  &__title {
    @include title-setup;
  }

  &__box {
    display: flex;
    align-items: center;
    border-bottom: 4px solid #1282a2;
  }

  &__label {
    color: $button-color-second;
    font-family: "montserrat-light";
    font-size: 2rem;
    margin-right: 1.6rem;
  }

  &__value-input {
    display: flex;
    padding: 2.4rem 1.6rem 2.4rem 1.6rem;
  }

  &__input,
  &__button {
    all: unset;
  }

  &__input {
    width: 100%;
    padding: 0.6;
    font-size: 2rem;

    color: $button-color-second;
    &::placeholder {
      color: $button-color-second;
      font-family: "montserrat-light";
    }
  }

  &__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.8rem 1.6rem;
    text-align: center;
    font-size: 2.4rem;
    margin-left: 1.6rem;
    border-radius: 5rem;
    background-color: $support-color-primary;
    border-bottom: 4px solid #1282a2;
    color: $font-color-secondary;
  }
}
