@use "../../styles/_partials/_utilities/resets" as *;
@use "../../styles/_partials/_utilities/typography" as *;
@use "../../styles/_partials/_utilities/mixins" as *;
@use "../../styles/_partials/_utilities/variables" as *;

.landing {
  display: flex;
  flex-direction: column;
  margin: 0 1.6rem;
  padding-bottom: 12.6rem;

  //   &__hero {
  //     position: relative;
  //   }

  &__title-box {
    position: fixed;
    background-color: rgb(10, 17, 40, 0.1);
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 1rem;
    margin: 3.6rem 0 -7rem 0;
    top: 8rem;
  }

  &__title {
    font-family: "montserrat-semibold";
    color: #ffffff;
    font-size: 4.2rem;
    text-align: center;
  }

  &__image {
    display: block;
    height: 50rem;
    background-image: url("../../assets/images/land-image.svg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 12.6rem 0 6.6rem 0;
  }

  &__list {
    padding-bottom: 6.6rem;
  }

  &__items {
    font-family: "montserrat-semibold";
    font-size: 1.8rem;
    color: $font-color-secondary;
    margin-bottom: 1rem;
  }
}
