@use "../../styles/_partials/_utilities/resets" as *;
@use "../../styles/_partials/_utilities/typography" as *;
@use "../../styles/_partials/_utilities/mixins" as *;
@use "../../styles/_partials/_utilities/variables" as *;

.add-form {
  margin: 0 1.6rem;

  &__title {
    color: $font-color-secondary;
    margin-bottom: 1rem;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    z-index: 3;
  }

  &__search {
    all: unset;
    padding: 0.8rem;
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: $button-color-second;
    border-bottom: 4px solid $border-color;
    width: 85%;
  }

  &__button {
    all: unset;
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    border-radius: 0 0.5rem 0.5rem 0;
    background-color: $support-color-primary;
    border-bottom: 4px solid #1282a2;
    width: 15%;
    display: flex;
    justify-content: center;
  }

  &__stock-info {
    z-index: -1;
    padding-top: 2.4rem;
    background-color: $background-color-secondary;
    border-radius: 0 0 2rem 2rem;
  }

  &__wrapper {
    padding: 0.8rem 0 0 0;
    border-top: 1px solid $button-color-second;
  }

  &__container-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1.6rem 0 1.6rem;
    margin-bottom: 0.8rem;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__box-data {
    display: flex;
    flex-direction: column;
    width: 45%;
  }

  &__label {
    color: $support-color-primary;
    font-family: "montserrat-semibold";
    font-size: 1.4rem;
    padding-bottom: 0.4rem;
  }

  &__data {
    color: $font-color-secondary;
  }

  &__input,
  &__input-rank {
    all: unset;
    padding: 0.8rem 0.8rem;
    font-family: "montserrat-regular";
    font-size: 1.4rem;
    border-radius: 0.5rem;
    background-color: $button-color-second;
    border-bottom: 4px solid $border-color;
    background-repeat: no-repeat;
    background-position: 94%;
    background-size: 1.6rem;
  }

  &__input {
    background-image: url("../../assets/icons/sort-icon-dark.svg");
  }
  &__input-rank {
    background-image: url("../../assets/icons/down-icon-dark.svg");
  }

  &__button-add {
    all: unset;
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__button-text {
    width: 100%;
    text-align: center;
    margin: 0.8rem auto 0 auto;
    padding: 0.8rem 1.6rem;
    background-color: $support-color-primary;
    border-radius: 0 0 2rem 2rem;
    color: white;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
